* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:  hsl(0, 0%, 95%);

}

.main{
    display: flex;
    margin: 15vh 15vw;

    
    

}

.box{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 25vw;
    padding: 5%;

}

.sedan{
    background-color:  hsl(31, 77%, 52%);
    
    
    
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.h-shift{
    color:  hsl(0, 0%, 95%);
    margin-top: 5vh;
    margin-bottom: 5vh;
 
}

.p-car{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5vh;

}

.cte{
    color:   black;
    margin-top: 10vh;
    text-decoration: none;
    align-self: flex-start;
    width: 70%;
    padding: 20px 20px;
    background-color:  hsl(0, 0%, 95%);
    border-radius: 5vh;
    

}

